<!-- ACCOUNT PAGE -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Job Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    </head>

    <body>
        <!-- BLUE HEADING SECTION -->
        <header class="header">
            <a href="#home" class="webName"><i class='bx bx-briefcase' id="logo"></i> Job Tracker</a>
            <i class="bx bx-menu" id="menu-icon"></i> <!-- Menu icon -->

            <!-- Logout button -->
            <div class="logout-button"><a href="{{ url_for('logout') }}">Logout</a></div>
            
            <!-- Navbar content -->
            <nav class="navbar">
                {% if 'user_id' in session %}
                    <a href="{{ url_for('add') }}">Add</a>
                    <a href="{{ url_for('edit', application_id=some_id) }}">Edit/Delete</a>
                    <a href="{{ url_for('search') }}">Search</a>
                    <a href="{{ url_for('sort') }}">Sort</a>
                {% endif %}
                {% if 'user_id' not in session %}
                    <a href="{{ url_for('account') }}">Home</a>
                    <a href="{{ url_for('login') }}">Login</a>
                    <a href="{{ url_for('signup') }}">Signup</a>
                {% endif %}
            </nav>             
        </header>

        <!-- ACCOUNT PAGE -->
        <section class="account" id="account">
            <h2>Welcome, Job Seeker!</h2>
            <p>Please <a href="{{ url_for('login') }}">login</a> or <a href="{{ url_for('signup') }}">sign up</a>.</p>
        </section>
        <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    </body>
</html>